.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-container {
    flex: 1;
    text-align: center;
  }
  .search-form {
    flex: 1;
    text-align: center;
  }
  .blue-btn {
    background-color: blue;
    color: white;
  }
  .cart-container {
    flex: 1;
    text-align: center;
  }