*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* ---- Header para todos los html ---- */
header{
    background-color: #ff0000 ;
    color: #ffffff;
}
header h1, h2{
    text-decoration: underline;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px white;
}
 
.nav-link{
    background-color: rgba(15, 3, 3, 0.363);
    border: 2px solid rgb(5, 0, 0);
    border-radius: 10px;
    margin: 3px 7px;
    padding: 5px;
    color: #ffffff;
}


/* ----- Color universal de fondo ----- */
.color{
    background-color: red;
}

/* ----- Animaciones ------ */
.title-universal{
    text-decoration: underline;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(136, 46, 5), 0 0 5px white;
}
.color-title-card{
    text-shadow: 1px 1px 4px #917070, 0 0 25px rgb(160, 160, 170), 0 0 5px rgb(212, 203, 203);
}
.nav-link:hover{
    color: yellow;
    border-radius: 15px;
    transition-duration: 1s;
}
/* ----- Efecto sombra ---- */
.sombra-card{
    box-shadow: -15px 15px 15px 5px red;
}
.sombra-card-right{
    box-shadow: 15px 15px 15px 5px red;
}
.sombra-carousel{
    box-shadow: -3px -3px 3px grey;
}
.card:hover{
    box-shadow: -7px -7px 7px rgb(161, 92, 92);
    transition-duration: 1s;
    transition-delay: 0.3s;
}
/* ------ Botones hover ------ */
.btn-group-vertical:hover{
    background-color: red;
}
.btn-dark:hover{
    background-color: white;
    color: red;
}

/* ----Boton de la busqueda en el nav---- */
.btn-search{
    background-color: rgba(15, 3, 3, 0.363);
    border: 2px solid rgb(5, 0, 0);
    border-radius: 10px;
    margin: 3px 7px;
    padding: 5px;
    color: #ffffff;
}
.btn-search:hover{
    background-color: rgba(15, 3, 3, 0.363);
    color:yellow;
    border: 2px white;
    transition-duration: 1s;
}

.btn-primary:hover{
    background-color: white;
    border: 2px 2px;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(255, 0, 0, 0.637);
}


/*  ------------- Carousel ------------ */

/*------ Tamaño para div carousel de mobile------ */
.width-carousel{
    width: 100%;
}
/* ---- Fondo para el icono de carousel ---- */
.carousel-control-next-icon{
    background-color: black;
}
.carousel-control-prev-icon{
    background-color: black;
}

