
$color-primario: #ffffff;
$color-secundario: #000000;
$sombra-text: 1px 1px 2px #000000, 0 0 25px rgb(15, 11, 11), 0 0 5px rgb(22, 22, 22);
$sombra-card:0px 6px 9px rgb(61, 60, 60), -0px -6px 9px rgb(49, 44, 44);
