.sombra-productos{
    @extend .sombra-a;
    padding: 10px;
    h1{
        color: black;
    }
    div{
        h3{
            color: black;
        }
    }
    .card{
        padding: 10px;
    }
    h3{
        text-shadow: $sombra-text;
        text-decoration: underline;
    }
}