.size-nosotros {
    background-color: $color-principal;
    h1{
        color: $color-primario;
    }
    p{
        text-shadow: 1px 1px 2px $color-secundario;
        color: $color-primario;
    }
}