/* ---- MOBILE INDEX.HTML ---- */
div {
    .sombra-carousel {
        box-shadow: -3px -3px 3px $color-principal;
    }

    .carousel-control-next-icon {
        background-color: black;
    }

    .carousel-control-prev-icon {
        background-color: black;
    }
}

section {
    h1{
        text-decoration: underline;
    }
    h1, h2{
        text-shadow: $sombra-text;
        color: $color-secundario;
    }
    h3{
        font-style: italic;
    }
    

    .card{
        box-shadow: $sombra-card;
        transition-duration: 1s;
        &:hover{
            box-shadow: -7px -7px 20px #000000;
            transition-duration: 1s;
            transition-delay: 0.3s;
        }
        .card-body{
            width: 90%;
            margin: 10px;
            color: $color-primario;
            background-color: $color-principal;
            text-shadow: $sombra-text;
            border-radius: 30px;
            padding: 10px;
            li{
                list-style: none;
            }


        }
    }

}
/* ------------- SOBRE NOSOTROS HTML y CONTACTO ---------------- */
section{
    .sombra-a{
        box-shadow: $sombra-card;
    }
}
