/* ---- HEADER PARA TODOS LOS HTML ---- */


header {
    background-color: $color-principal;

    h1,
    h2 {
        text-decoration: underline;
        text-shadow: $sombra-text;
        color: $color-primario;
    }

    .nav-link {
        background-color: $color-secundario;
        border: 2px solid $color-secundario;
        border-radius: 20px;
        margin: 3px 7px;
        padding: 5px;
        color: $color-primario;

        &:hover {
            color: yellow;
            border-radius: 15px;
            transition-duration: 1s;
        }

    }

    .btn-search {
        background-color: $color-secundario;
        border: 2px solid rgb(5, 0, 0);
        border-radius: 20px;
        margin: 3px 7px;
        padding: 5px;
        color: $color-primario;

        &:hover {
            background-color: $color-secundario;
            color: #ffff00;
            border: 2px $color-primario;
            transition-duration: 1s;
        }
    }
}